build*/
cmake-build-*/
out/
bin/
lib/
*.user
*.pro.user
*.autosave
*.user.*
.DS_Store
Thumbs.db
CMakeCache.txt
CMakeFiles/
Testing/
CTestTestfile.cmake
Makefile
install_manifest.txt
compile_commands.json
*.log
